$font-family:	(
	"header"		:	('Source Sans Pro', sans-serif),
	"body"			:	('Source Sans Pro', sans-serif),
	"alternative"	:	null
);
$font-weight:	(
	"h2"		:	700
);

::selection {
	background: c("secondary");
	color: #FFF;
}

h2 {
	font-weight: fw("h2");
}

body {
	color: rgba(#000000, 0.7);
	font-family: ff("body");
}

section {
	h1 {
		font-size: 50px;
		font-weight: fw("h2");
		color: c("primary"); 
		@include tablet {
		  font-size: 35px;
		}
		@include mobile {
		  font-size: 35px;
		}
	}
}

legend {
	
}

.uppercase {
	text-transform: uppercase;
}