/**
 * Devuelve valor de un color definido en variables
 * @param  {string} $key clave del array de colores
 * @return {string}      color 
 */
@function c($key) {
	@return map($color, $key, "Nonexistent color.");
}

/**
 * Devuelve nombre de una tipografia definida en variables
 * @param  {string} $key [description]
 * @return {string}      [description]
 */
@function ff($key) {
	@return map($font-family, $key, "Nonexistent font-family.");
}

/**
 * Devuelve peso de una tipografia definida en variables
 * @param  {string} $key [description]
 * @return {string}      [description]
 */
@function fw($key) {
	@return map($font-weight, $key, "Nonexistent font-weight.");
}

/**
 * Busca item por clave dentro de un array
 * @param  {array} 	$map     	coleccion donde buscar
 * @param  {string} $key     	nombre del color
 * @param  {string} $message 	mensage a devolver si no existe el color dentro de la coleccion
 * @return {string|null}        devuelve valor del color o null sino existe
 */
@function map($map, $key, $message) {
	@if map-has-key($map, $key) {
		@return map-get($map, $key);
	}
	@error "#{$message}";
	@return null;
}