$mobile-width: 741px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
	@media all and (max-width: #{$mobile-width}) {
		@content;
	}
}

/* iPads (portrait and landscape) ----------- */
@mixin tablet {
	@media only screen and (min-device-width : #{$tablet-width}) and (max-device-width : #{$desktop-width}) {    
    	@content;
  	}
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}