@media all and (max-width: 741px) {
    header {
      display: none;
   }
    {
      display: none;
   }
   .navbar{
      background: #3B1151;
   }
   .navbar.navbar-dark .navbar-nav .nav-link:hover, .navbar.navbar-dark .navbar-nav .nav-link.active {
      color: #fff!important;
    } 
    .navbar.navbar-dark .navbar-nav .nav-link {
      color: rgba(239, 233, 243, 0.73)!important;
      transition: color .25s linear!important;
    }
    .somos {
      background: none;
    }
    #somos {
      padding: 13rem 0 50px!important;
    }
    #about-us,#sub-nav,#espacio {
      display: none;
    }
    .servicios #card-1 .card-txt, .servicios #card-2 .card-txt, .servicios #card-3 .card-txt, .servicios #card-4 .card-txt {
      opacity: 1;
    }
    .contacto .datos .datos-txt {      
      position: relative;  
          top: 0;    
    }
    .menu-footer {
      text-align: center!important;
    }
    .navbar {      
      margin: 0 8px;
    }
    .navbar .navbar-brand img {
      width: 175px;
    }
    section h1 {
      font-size: 35px;      
    }
    .valores {
      background: none;
    }
    .valores h2 {    
      font-size: 25px;
    }
    .servicio {
          padding: 90px 0 0;
    }
    #servicio .servicio .container .align {
      position: relative;
      top: 0;
      transform: translateY(0);
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {    
    header {
      display: none;
   }
    {
      display: none;
   }
   .navbar{
      background: #3B1151;
   }
   .navbar.navbar-dark .navbar-nav .nav-link:hover, .navbar.navbar-dark .navbar-nav .nav-link.active {
      color: #fff!important;
    } 
    .navbar.navbar-dark .navbar-nav .nav-link {
      color: rgba(239, 233, 243, 0.73)!important;
      transition: color .25s linear!important;
    }
    #somos {
      padding: 13rem 0 50px!important;
    }
    #about-us,#sub-nav,#espacio {
      display: none;
    }
    .servicios #card-1 .card-txt, .servicios #card-2 .card-txt, .servicios #card-3 .card-txt, .servicios #card-4 .card-txt {
      opacity: 1;
    }
    .contacto .datos .datos-txt {      
      position: relative;  
          top: 0;    
    }
    .menu-footer {
      text-align: center!important;
    }
    .navbar {      
      margin: 0 8px;
    }
    .navbar .navbar-brand img {
      width: 175px;
    }
    section h1 {
      font-size: 35px;      
    }
    .valores h2 {    
      font-size: 25px;
    }
    .servicio {
         padding: 90px 0 0;
    }
    #servicio .servicio .container .align {
      position: relative;
      top: 0;
      transform: translateY(0);
    }
}

