@charset "UTF-8";
/**
 * Devuelve valor de un color definido en variables
 * @param  {string} $key clave del array de colores
 * @return {string}      color 
 */
/**
 * Devuelve nombre de una tipografia definida en variables
 * @param  {string} $key [description]
 * @return {string}      [description]
 */
/**
 * Devuelve peso de una tipografia definida en variables
 * @param  {string} $key [description]
 * @return {string}      [description]
 */
/**
 * Busca item por clave dentro de un array
 * @param  {array} 	$map     	coleccion donde buscar
 * @param  {string} $key     	nombre del color
 * @param  {string} $message 	mensage a devolver si no existe el color dentro de la coleccion
 * @return {string|null}        devuelve valor del color o null sino existe
 */
/* iPads (portrait and landscape) ----------- */
::selection {
  background: #78a6bb;
  color: #FFF; }

h2 {
  font-weight: 700; }

body {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Source Sans Pro", sans-serif; }

section h1 {
  font-size: 50px;
  font-weight: 700;
  color: #3B1151; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    section h1 {
      font-size: 35px; } }
  @media all and (max-width: 741px) {
    section h1 {
      font-size: 35px; } }

.uppercase {
  text-transform: uppercase; }

.btn {
  border-radius: .15rem; }

.btn-primary {
  background-color: #3B1151;
  border-color: #3B1151; }
  .btn-primary:hover {
    background-color: #5a1a7b;
    border-color: #5a1a7b; }
  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(120, 166, 187, 0.5); }

.carousel-item {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  min-height: 300px; }

.carousel-caption {
  color: #fff;
  left: 9%;
  padding-bottom: 20px;
  padding-top: 20px;
  position: absolute;
  right: 0;
  text-align: left;
  top: 40%;
  z-index: 10;
  font-family: "Source Sans Pro", sans-serif; }
  .carousel-caption h1 {
    font-weight: 600;
    font-size: 50px; }

.carousel-control {
  width: 8% !important; }

.img {
  left: 0;
  margin: -50px 0 0 0px;
  position: absolute;
  top: 0; }

#map {
  height: 400px;
  width: 100%; }

#video {
  background: url(../images/background-video.jpg) no-repeat center center;
  background-size: cover;
  height: 450px; }
  #video.video {
    position: relative; }
    #video.video img {
      height: 80px;
      position: absolute;
      top: 40%; }
  #video .modal-dialog {
    margin: 30px auto;
    max-width: 800px; }
    #video .modal-dialog .modal-body {
      padding: 0px;
      position: relative; }
      #video .modal-dialog .modal-body .close {
        position: absolute;
        right: -30px;
        top: 0;
        z-index: 999;
        font-size: 2rem;
        font-weight: normal;
        color: #fff;
        opacity: 1; }
        #video .modal-dialog .modal-body .close:hover {
          color: #fff;
          opacity: 1; }

.parallax {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%; }

.water {
  background-position: right center;
  background-repeat: no-repeat;
  height: 100%;
  right: 250px;
  position: absolute;
  width: 100%; }

.water-layer2 {
  background-size: contain;
  left: 0;
  top: 0; }

/*.water-layer1 {
    background-image: url(http://elikirk.com/demos/liquipel/images/water-layer-2.png);
}*/
.water-layer1 {
  background-image: url(../images/circle-5.png);
  background-size: cover;
  left: 0;
  top: 0; }

/*.water-layer4 {
    background-image: url(../images/circle.png);
    background-size: contain;
}
*/
.copyright {
  background: #3B1151; }
  .copyright p {
    color: #78a6bb; }

footer h2 {
  color: #3B1151; }

footer .social a {
  height: 40px;
  margin-right: 5px; }

footer .menu-footer a {
  color: #78a6bb;
  text-decoration: none; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  footer .menu-footer {
    text-align: center !important; } }

@media all and (max-width: 741px) {
  footer .menu-footer {
    text-align: center !important; } }

.form-control:focus {
  border-color: #3B1151;
  box-shadow: 0 0 0 0.2rem rgba(59, 17, 81, 0.5); }

body {
  position: relative; }

header {
  background: #3B1151;
  min-height: 95vh;
  position: relative;
  overflow: hidden; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    header {
      display: none; } }
  @media all and (max-width: 741px) {
    header {
      display: none; } }

.ese {
  background: #f4f6f9;
  border-radius: 30%;
  height: 100%;
  position: absolute;
  right: 200px;
  top: 0;
  transform-origin: bottom right;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 65%; }

.ese:before,
.ese:after {
  content: "";
  position: absolute; }

.ese:before {
  background: #f4f6f9;
  bottom: -50%;
  height: 100%;
  right: -20%;
  width: 50%; }

.ese:after {
  background: #3B1151;
  border-radius: 30%;
  bottom: -65%;
  height: 65%;
  right: 0%;
  width: 100%; }

#sub-nav {
  background: rgba(217, 217, 217, 0.7);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }
  #sub-nav .nav .nav-link {
    color: #f4f6f9;
    display: inline-block;
    font-size: 14px;
    padding: 0.3rem 1rem; }
    #sub-nav .nav .nav-link:hover {
      color: #3B1151; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #sub-nav {
      display: none; } }
  @media all and (max-width: 741px) {
    #sub-nav {
      display: none; } }

.right-nav .nav-link {
  color: rgba(59, 17, 81, 0.9) !important;
  transition: color .25s linear; }
  .right-nav .nav-link:hover, .right-nav .nav-link.active {
    color: #3B1151; }

.navbar {
  padding: 15px;
  margin: 0 30px;
  border-radius: 10px;
  top: 30px;
  font-size: 17px;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear; }
  .navbar.navbar-dark.purple .navbar-nav .nav-link {
    color: rgba(244, 246, 249, 0.5); }
    .navbar.navbar-dark.purple .navbar-nav .nav-link:hover, .navbar.navbar-dark.purple .navbar-nav .nav-link.active {
      color: #f4f6f9; }
  .navbar.navbar-dark .navbar-nav .nav-link {
    color: rgba(59, 17, 81, 0.5);
    transition: color .25s linear; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .navbar.navbar-dark .navbar-nav .nav-link {
        color: rgba(255, 255, 255, 0.73); } }
    @media all and (max-width: 741px) {
      .navbar.navbar-dark .navbar-nav .nav-link {
        color: rgba(255, 255, 255, 0.73); } }
    .navbar.navbar-dark .navbar-nav .nav-link:hover, .navbar.navbar-dark .navbar-nav .nav-link.active {
      color: #3B1151; }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        .navbar.navbar-dark .navbar-nav .nav-link:hover, .navbar.navbar-dark .navbar-nav .nav-link.active {
          color: #ffffff; } }
      @media all and (max-width: 741px) {
        .navbar.navbar-dark .navbar-nav .nav-link:hover, .navbar.navbar-dark .navbar-nav .nav-link.active {
          color: #ffffff; } }
  .navbar.purple {
    background: #3B1151; }
  .navbar .navbar-brand img {
    width: 250px; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .navbar .navbar-brand img {
        width: 175px; } }
    @media all and (max-width: 741px) {
      .navbar .navbar-brand img {
        width: 175px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .navbar {
      background: #3B1151;
      margin: 0 8px; } }
  @media all and (max-width: 741px) {
    .navbar {
      background: #3B1151;
      margin: 0 8px; } }

.about-us {
  /* The image used */
  /* Set a specific height */
  height: 600px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .about-us {
      display: none; } }
  @media all and (max-width: 741px) {
    .about-us {
      display: none; } }

.contacto .datos {
  position: relative; }
  .contacto .datos .datos-txt {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 40%;
    width: 100%; }
    .contacto .datos .datos-txt .icon {
      color: #78a6bb;
      font-size: 48px; }
    .contacto .datos .datos-txt .dato {
      font-size: 18px; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .contacto .datos .datos-txt {
        position: relative;
        top: 0; } }
    @media all and (max-width: 741px) {
      .contacto .datos .datos-txt {
        position: relative;
        top: 0; } }

.espacio {
  background: #f4f6f9;
  overflow-x: hidden; }
  .espacio .carousel-control.carousel-control-prev {
    left: -100px; }
  .espacio .carousel-control.carousel-control-next {
    right: -100px; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .espacio {
      display: none; } }
  @media all and (max-width: 741px) {
    .espacio {
      display: none; } }

.servicios {
  overflow-x: hidden; }
  .servicios #card-1.card-ss,
  .servicios #card-2.card-ss,
  .servicios #card-3.card-ss,
  .servicios #card-4.card-ss {
    background-size: cover;
    height: 350px;
    position: relative; }
    .servicios #card-1.card-ss:hover > .row > a > .card-txt,
    .servicios #card-2.card-ss:hover > .row > a > .card-txt,
    .servicios #card-3.card-ss:hover > .row > a > .card-txt,
    .servicios #card-4.card-ss:hover > .row > a > .card-txt {
      opacity: 1;
      transform: translateY(0);
      -webkit-transition: all .35s linear;
      -moz-transition: all .35s linear;
      -ms-transition: all .35s linear;
      -o-transition: all .35s linear;
      transition: all .35s linear; }
    .servicios #card-1.card-ss:hover > .row > a > .card-frame,
    .servicios #card-2.card-ss:hover > .row > a > .card-frame,
    .servicios #card-3.card-ss:hover > .row > a > .card-frame,
    .servicios #card-4.card-ss:hover > .row > a > .card-frame {
      background: rgba(0, 0, 0, 0.6);
      -webkit-transition: all .30s linear;
      -moz-transition: all .30s linear;
      -ms-transition: all .30s linear;
      -o-transition: all .30s linear;
      transition: all .30s linear; }
  .servicios #card-1 .card-frame,
  .servicios #card-2 .card-frame,
  .servicios #card-3 .card-frame,
  .servicios #card-4 .card-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear; }
  .servicios #card-1 .card-txt,
  .servicios #card-2 .card-txt,
  .servicios #card-3 .card-txt,
  .servicios #card-4 .card-txt {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    text-align: center;
    top: 40%;
    width: 100%;
    transform: translateY(120px);
    opacity: 0;
    -webkit-transition: all .35s linear;
    -moz-transition: all .35s linear;
    -ms-transition: all .35s linear;
    -o-transition: all .35s linear;
    transition: all .35s linear; }
    .servicios #card-1 .card-txt h2,
    .servicios #card-2 .card-txt h2,
    .servicios #card-3 .card-txt h2,
    .servicios #card-4 .card-txt h2 {
      color: #fff; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .servicios #card-1 .card-txt,
      .servicios #card-2 .card-txt,
      .servicios #card-3 .card-txt,
      .servicios #card-4 .card-txt {
        opacity: 1; } }
    @media all and (max-width: 741px) {
      .servicios #card-1 .card-txt,
      .servicios #card-2 .card-txt,
      .servicios #card-3 .card-txt,
      .servicios #card-4 .card-txt {
        opacity: 1; } }

.somos {
  background: url("../images/bg-somos.png") no-repeat top right -5px; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .somos {
      padding: 13rem 0 50px !important; } }
  @media all and (max-width: 741px) {
    .somos {
      padding: 13rem 0 50px !important; } }
  .somos legend,
  .somos p {
    opacity: .8; }

.valores {
  background: url("../images/bg-valores.png") no-repeat center right;
  background-size: 60%;
  text-align: center; }
  .valores h2 {
    color: #3B1151; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .valores h2 {
        font-size: 25px; } }
    @media all and (max-width: 741px) {
      .valores h2 {
        font-size: 25px; } }
  .valores p {
    line-height: 1.2rem;
    text-align: left; }
  .valores ul {
    list-style: none;
    text-align: left; }
    .valores ul li {
      line-height: 1rem;
      margin-bottom: 0.5rem;
      padding-left: 1em;
      text-indent: -.7em; }
      .valores ul li::before {
        content: "• ";
        color: #78a6bb; }
  @media all and (max-width: 741px) {
    .valores {
      background: none; } }

#servicio .carousel-caption {
  left: 5%;
  top: 45%; }
  #servicio .carousel-caption .title {
    font-size: 42px; }

#servicio .servicio + .servicio .container {
  border-top: 1px solid #78a6bb; }

#servicio .servicio .container .align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #servicio .servicio .container .align {
      position: relative;
      top: 0;
      transform: translateY(0); } }
  @media all and (max-width: 741px) {
    #servicio .servicio .container .align {
      position: relative;
      top: 0;
      transform: translateY(0); } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #servicio .servicio {
    padding: 90px 0 0; } }

@media all and (max-width: 741px) {
  #servicio .servicio {
    padding: 90px 0 0; } }
