.about-us { 
  /* The image used */
  // background-image: url("../images/equipo.jpg");

  /* Set a specific height */
  height: 600px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  //background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}

.contacto { 
  .datos {
    position: relative;
    .datos-txt {
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: 40%;
      width: 100%;
      .icon {
        color: c('secondary');
        font-size: 48px;
      }
      .dato {
        font-size: 18px;
      }
      @include tablet {
        position: relative;  
        top: 0; 
      }
      @include mobile {
        position: relative;  
        top: 0; 
      }
    }
  }
}

.espacio {
  background: c("alternative");
  overflow-x: hidden;
  .carousel-control {
    &.carousel-control-prev{
      left: -100px;
    }
    &.carousel-control-next {
      right: -100px;
    }
  }
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}

.servicios {
  overflow-x: hidden;
  #card-1,
  #card-2,
  #card-3,
  #card-4 {
    
    &.card-ss{
      background-size: cover;
      height: 350px;
      position: relative;
      &:hover {
        &>.row {
          &>a {
            &>.card-txt {
              opacity: 1;
              transform: translateY(0);
              -webkit-transition: all .35s linear;
                -moz-transition: all .35s linear;
                  -ms-transition: all .35s linear;
                    -o-transition: all .35s linear;
                      transition: all .35s linear;
            }
            &>.card-frame {
              background:rgba(0,0,0,0.6);
              -webkit-transition: all .30s linear;
                -moz-transition: all .30s linear;
                  -ms-transition: all .30s linear;
                    -o-transition: all .30s linear;
                      transition: all .30s linear;
            }
          }
        }
      }
    }
    .card-frame {
      position: absolute; 
      width: 100%;
      height: 100%;
      background:rgba(0,0,0,0.2);
      -webkit-transition: all .25s linear;
        -moz-transition: all .25s linear;
          -ms-transition: all .25s linear;
            -o-transition: all .25s linear;
              transition: all .25s linear;
    }
    .card-txt {
      position: absolute;
      z-index: 1;
      margin: 0 auto;
      text-align: center;
      top: 40%;
      width: 100%;
      transform: translateY(120px);
      opacity: 0;
      -webkit-transition: all .35s linear;
        -moz-transition: all .35s linear;
          -ms-transition: all .35s linear;
            -o-transition: all .35s linear;
              transition: all .35s linear;
      h2 {
        color: #fff;
      }
      @include tablet {
        opacity: 1;
      }
      @include mobile {
        opacity: 1;
      }
    }
  }
}

.somos { 
  background: url("../images/bg-somos.png") no-repeat top right -5px;
  @include tablet {
    padding: 13rem 0 50px!important;
  }
  @include mobile {
    padding: 13rem 0 50px!important;
  }
  legend,
  p {
    opacity: .8;
  }
}

.valores {
  background: url("../images/bg-valores.png") no-repeat center right;
  background-size: 60%;
  text-align: center;
  h2 {
    color: c("primary"); 
    @include tablet {
      font-size: 25px;
    }
    @include mobile {
      font-size: 25px;
    }
  }
  p {
    line-height: 1.2rem;
    text-align: left;
  }
  ul {
    list-style: none;
    text-align: left;
    li {
      line-height: 1rem;
      margin-bottom: 0.5rem;
      padding-left: 1em; 
      text-indent: -.7em;
      &::before {
        content: "• ";
        color: c("secondary");
      }
    }
  }
  @include mobile {
    background: none;
  }
}