#servicio {
	.carousel-caption {
		left: 5%;
		top: 45%;
		.title {
			font-size: 42px;
		}
	}
	.servicio {
		&+.servicio{
			.container {
				border-top: 1px solid c('secondary');
			}
		}
		.container {
			.align {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				.featurette-heading {
					//margin-top: 8rem;
				}
				.lead {}
				@include tablet {
				  	position: relative;
		        	top: 0;
		        	transform: translateY(0);
				}
				@include mobile {
				  	position: relative;
		        	top: 0;
		        	transform: translateY(0);
				}
			}
		}
		@include tablet {
		  padding: 90px 0 0;
		}
		@include mobile {
		  padding: 90px 0 0;
		}
	}
}