.btn {
	border-radius: .15rem;
}

.btn-primary {
    background-color: c('primary');
    border-color: c('primary');
    &:hover {
    	background-color: lighten(c('primary'), 10%);
    	border-color: lighten(c('primary'), 10%);
    }
    &:focus {
    	box-shadow: 0 0 0 0.2rem rgba(c('secondary'),.5);
    }
}