.carousel-item {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  min-height: 300px;
}

.carousel-caption {  
  color: #fff;
  left: 9%;
  padding-bottom: 20px;
  padding-top: 20px;
  position: absolute;
  right: 0;
  text-align: left;
  top: 40%;
  z-index: 10;
  font-family: ff("header");
  h1 {
    font-weight: 600;
    font-size: 50px;
  }
}
.carousel-control {
  width: 8% !important;
}