.parallax {
    height: 100%;
    left: 0;   
    overflow: hidden;
    position: absolute;
    width: 100%;
   
}
.water {
    background-position: right center;
    background-repeat: no-repeat;
    height: 100%;
    right:250px;
    position: absolute;
    width: 100%;
}
.water-layer2 {
    //background-image: url(../images/background-image.png);
    background-size: contain;
    left: 0;
    top: 0;
}
/*.water-layer1 {
    background-image: url(http://elikirk.com/demos/liquipel/images/water-layer-2.png);
}*/
.water-layer1 {
    background-image: url(../images/circle-5.png);    
    background-size:cover;
    left: 0;
    top: 0;
}
/*.water-layer4 {
    background-image: url(../images/circle.png);
    background-size: contain;
}
*/
