#video {
  background:url(../images/background-video.jpg) no-repeat center center;
  background-size: cover;
  height: 450px;
  &.video {    
    position: relative;
    img {
      height: 80px;
      position: absolute;
      top: 40%;
    }  
  }
  .modal-dialog {
    margin: 30px auto;
    max-width: 800px;
    .modal-body {
      padding:0px;
      position:relative;
      .close {
        position:absolute;
        right:-30px;
        top:0;
        z-index:999;
        font-size:2rem;
        font-weight: normal;
        color:#fff;
        opacity:1;
        &:hover {
          color: #fff;    
          opacity: 1;
        }
      }
    }
  }
}