.copyright {
	background: c("primary");
	p {
		color: c("secondary");
	}
}

footer {
	h2 {
		color: c("primary");
	}
	.social {
		a {
			height: 40px;
			margin-right: 5px;
		}
	}
	.menu-footer {
		a {
			color: c("secondary");
			text-decoration: none;
		}
		@include tablet {
		  text-align: center !important;
		}
		@include mobile {
		  text-align: center !important;
		}
	}

}