header {
  background: c("primary");
  min-height: 95vh;
  position: relative;
  overflow: hidden;
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}

.ese {
  background: c("alternative");
  border-radius: 30%;
  height: 100%;
  position: absolute;
  right:200px;
  top: 0;
  transform-origin: bottom right;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 65%;
}

.ese:before,
.ese:after {
  content: "";
  position: absolute;
}

.ese:before{
  background: c("alternative");
  bottom: -50%;
  height: 100%;
  right: -20%;
  width: 50%;
}

.ese:after{
  background: c("primary");
  border-radius: 30%;
  bottom: -65%;
  height: 65%;
  right: 0%;
  width: 100%;
}

