#sub-nav {
  background: rgba(c("terciary"), 0.7);
  position: absolute;
  top: 0;
  width:100%;
  z-index: 1;
  .nav {
    .nav-link {
      color: c("alternative");
      display: inline-block;
      font-size: 14px;
      padding: 0.3rem 1rem;
      &:hover {
        color: c("primary");
      }
    }
  }
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}

.right-nav {
  .nav-link {
    color: rgba(c("primary"), .9)!important;
    transition: color .25s linear;
    &:hover,
    &.active {
      color: c("primary");
    }
  }
}

.navbar {
  padding: 15px;
  margin:0 30px;
  border-radius: 10px;
  top: 30px;
  font-size: 17px;
  -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
      -ms-transition: all .25s linear;
        -o-transition: all .25s linear;
          transition: all .25s linear;
  &.navbar-dark {
  	&.purple {
  		.navbar-nav {
				.nav-link {
          color: rgba(c("alternative"), 0.5);
          &:hover,
          &.active {
            color: c("alternative");
          }
				}
	    }
	  }
	  .navbar-nav {
	    .nav-link {
			  color: rgba(c("primary"), 0.5);
        transition: color .25s linear;
        @include tablet {
          color: rgba(c("link"), 0.73);
        }
        @include mobile {
          color: rgba(c("link"), 0.73);
        }
        &:hover,
        &.active {
          color: c("primary");
          @include tablet {
            color: c("link");
          }
          @include mobile {
            color: c("link");
          }
        }
		  }
	  }
    
  }
  &.purple {
    background: c("primary");
	}
  .navbar-brand {
    img {
      width: 250px;
      @include tablet {
        width: 175px;
      }
      @include mobile {
        width: 175px;
      }
    }
  }
  @include tablet {
    background: c("primary");
    margin: 0 8px;
  }
  @include mobile {
    background: c("primary");
    margin: 0 8px;
  }
}

